{{!--Cabezote de la pagina, menu de navegacion--}}
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #05050f;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/images/logo_white_small.png" alt="" width="50%" height="50%" class="align-text-middle" link="/">
    </a>
    <div class="d-flex" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/login">Iniciar Sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Registrarme</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{{!--aria-current="page" class="nav-link active"--}}